* {
    margin: 0;
    padding: 0;
    font-family: "Google Sans", sans-serif;
    box-sizing: border-box;
}

html,
body {
    background-color: #faf604;
    color: #202124;
    font-size: 15px;
    margin: 0;
    min-width: 360px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}

main {
    margin: 0 auto;
    max-width: 900px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

#addTask {
    border-radius: 8px;
    background-color: white;
    border: 0.5px solid #d3d3d3;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
    margin: 32px auto 16px auto;
    max-width: 496px;
    transition-duration: 0.218s;
    transition-property: background, border, opacity, box-shadow, transform;
    transition-timing-function: ease-in;
}

#form {
    position: relative;
    border: none;
    background-color: white;
    margin: 1px;
    margin-top: 1px;
    border-radius: 8px;
    transition-duration: 0.218s;
    transition-property: background, border, opacity, box-shadow, transform;
    transition-timing-function: ease-in;
}

#taskname,
#taskdes {
    width: calc(100% - 10px);
    min-height: 43px;
    margin: 0 5px 5px;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.00625em;
    border: 0;
    overflow: hidden;
    position: relative;
}

#Tasklist {
    background-color: rgb(252, 114, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
}

.task-list {
    display: flex;
    border: 1px solid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 496px;
    margin: 10px;
    padding: 10px;
}

.task-name {
    display: block;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.task-desc {
    font-size: 14px;
}

#form:focus,
input:focus {
    outline: none;
}

#form-buttons {
    text-align: center;
}

#submitbtn {
    margin: 0.2em 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0.01785714em;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 36px;
    padding: 8px 24px;
    border-radius: 4px;
    border-color: transparent !important;
    color: #fff;
    background-color: #007bff;
}

#submitbtn:hover {
    filter: brightness(95%);
}
